body{
    background: url('images/burger-wallpaper.jpg') no-repeat;
    background-size:cover;
}

#moving-bg{
    height: 800px;
    width: 1200px;
    background: url('images/full-background.jpg') no-repeat;
    background-position: 0 0;
    background-size: cover;
    border: solid black;
    margin-left: 18%;


    animation: animatedBackground 5s linear infinite;
}

@keyframes animatedBackground {
    from{
        background-position: 0 0;
    }
    to{ background-position: 100% 0;
    }
}

